@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

:root {

    --sucess-color: limegreen;
    --error-color: orangered;
}

 *{
     box-sizing: border-box;

 }
 body{
 
 
    background-colo: hsla(0,0%,50%,0.1);
    
    font-family: 'Open sans',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
 }
 .container {
     background-color: cornsilk;
     border-color: white;
     border-radius: 5px;
     box-shadow: 0 2px 10px rgba(0, 0,0, 0.2);
     width: 450px;

 }

 h2{
     text-align: center;
     margin-bottom: 20px;
     font-family: 'Times New Roman', Times, serif;

 }

 .form{
       padding: 30px 40px;

       
 }

 .form-control{
     margin-bottom: 10px;
     padding-bottom: 20px;
     position: relative;
 }

 .form-control label{
     color: gray;
     display: block;
     margin-bottom: 5px;

 }

 .form-control input{
     border: 2px solid lightgray;
border-radius: 4px;
display:block;
width: 100%; 
padding: 10px;
font-size: 14px;    

}

.form-control input:focus{
    outline: 0;
    border-color: gray;
}

.form-control.success input{

    border-color: var(--sucess-color);
}

.form-control.error input {
    border-color: (var(--error-color)) ;
}
.form-control small {
    color: var(--error-color);
position: absolute;
bottom: 0;
left:0;
visibility: hidden;
}

.form-control.error small{

    visibility: visible;
}

.form button {
    cursor: pointer;
    background-color: #3735f8;
    border: 2px solid #3735f8;
    border-radius: 4px;
color: white;
display: block;
font-size: 16px;
padding: 10px;
margin-top: 20px;
width: 100%;}

button.home{
    cursor: pointer;
    background-color: lightgray;
    border: 2px solid lightgray;
    border-radius: 4px;
color: white;
display: block;
font-size: 16px;
padding: 10px;
margin-top: 20px;
width: 100%;}


.nav {
    display: block;
}

