*{
  box-sizing: border-box;
}


body {
  font-family: 'Qahiri', sans-serif;
  background-color:cornflowerblue;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  max-height: 100vh;
  margin: 0;

}